*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #23252C;
    height: 100vh;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.card{
    height: 800px;
    width: 317px;
    background-color: aliceblue;
    background: #1A1B21;
    display: flex;
    flex-direction: column;
    
}
.card h1{
    color: white;
    text-align: center;
    margin-top: 20px;

    
}
.orange{
    color: #F3BF99;
    text-align: center;
    font-weight: 500;
    margin-top: 5px;
}
.link{
    color: white;
    text-align: center;
    margin-top: 10px;
}
.buttons{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}
.button1{
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 9px 13px 9px 11px;


position: relative;

width: 115px;
height: 34px;


/* white */

background: #FFFFFF;
/* gray/300 */

border: 1px solid #D1D5DB;
/* shadow/sm */

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}

.button2{
    flex-direction: row;
justify-content:space-around;
align-items: center;
padding: 9px 13px 9px 11px;


position: relative;
width: 115px;
height: 34px;

color: white;
background: #5093E2;
/* shadow/sm */

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}
.button2 h4{
    position: relative;
    top: -17px;
    left: 20px;
}
.Sarlavha{
    color: white;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
}
.Sarlavha2{
    color: white;
}
.footer{
    background: #161619;
    
    
width: 317px;
height: 64px;
margin-top: 30px;

background: #161619;
}
.width{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}